@model IEnumerable<ZCaixaV5.Models.Lancamento>
@using ZCaixaV5.Models

<div class="grid" style="margin-left: 5px;" id="grid">
        @if (Model != null)
        { 
            <div class="grid">
                <table cellspacing="0" width="40%">
                    <thead>
                        <tr>
                            <th>
                                Categoria
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Conciliado
                            </th>
                            <th>
                                Username
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">
                                    @item.Cat.Nome
                                </td>
                                <td align="center">
                                    @Convert.ToDateTime(item.Data).ToString("dd/MM/yyyy")
                                </td>
                                <td align="center">
                                    @item.Tipo
                                </td>
                                <td align="center">
                                    @item.Valor
                                </td>
                                <td align="center">
                                    @item.Conciliado
                                </td>
                                <td align="center">
                                    @item.Username
                                </td>
                            </tr> 
                        }
                    </tbody>
                </table>
                <br />
                <br />
            </div>
        } 
</div>