@model IEnumerable<ZCaixaV5.Models.Lancamento>
@using ZCaixaV5.Models

@{
    ViewData["Title"] = "Lançamentos";
}

@foreach (var item in Model)
{
    <div class="lancamento-unitario">
        <div class="lancamento-conciliado">@Html.DisplayFor(modelItem => item.Conciliado)</div>
        <div class="lancamento-data"><p>@Convert.ToDateTime(item.Data).ToString("dd/MM/yyyy")</p></div>
        <div class="lancamento-valor"><p>@Html.DisplayFor(modelItem => item.Valor)</p></div>
        <div class="lancamento-categoria"><p>@Html.DisplayFor(modelItem => item.Cat.Nome)</p></div>
        <div class="lancamento-descricao"><p>@Html.DisplayFor(modelItem => item.Descricao)</p></div>
        <div class="lancamento-tipo"><p>@Html.DisplayFor(modelItem => item.Tipo)</p></div>
        <div class="lancamento-excluir">
            <form asp-action="Delete" asp-route-id="@item.Id">
                <input type="image" class="icone-lancamento-unitario" src="imagens/delete-icon.png" alt="" />
            </form>
        </div>
        <div class="lancamento-alterar">
            @*
            <form asp-action="Edit" asp-route-id="@item.Id">
                <input type="image" class="icone-lancamento-unitario" src="imagens/editar-icon.png" alt="" />
            </form>
            *@
            <button type="button" class="icone-lancamento-unitario" asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
                <img class="icones" src="~/imagens/editar-icon.png" alt="">
            </button>
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content modal-lancamento">
                        <div class="modal-header">
                            <h1 class="modal-title" id="staticBackdropLabel">Alterar um Lançamento</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            *@Html.Partial("Edit", @item)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
