@model IEnumerable<ZCaixaV5.Models.Lancamento>
@using ZCaixaV5.Models

@{
    ViewData["Title"] = "Lançamentos";
}

@foreach (var item in Model)
{
    <div class="lancamento-unitario">
        <div class="lancamento-conciliado">@Html.DisplayFor(modelItem => item.Conciliado)</div>
        <div class="lancamento-data"><p>@Convert.ToDateTime(item.Data).ToString("dd/MM/yyyy")</p></div>
        <div class="lancamento-valor"><p>@Html.DisplayFor(modelItem => item.Valor)</p></div>
        <div class="lancamento-categoria"><p>@Html.DisplayFor(modelItem => item.Cat.Nome)</p></div>
        <div class="lancamento-descricao"><p>@Html.DisplayFor(modelItem => item.Descricao)</p></div>
        <div class="lancamento-tipo"><p>@Html.DisplayFor(modelItem => item.Tipo)</p></div>
        <div class="lancamento-excluir"><a class="btn-limpo" asp-action="Delete" asp-route-id="@item.Id"><img class="icone-lancamento-unitario" src="imagens/delete-icon.png" alt=""></a></div>
        <div class="lancamento-alterar"><a class="btn-limpo" asp-action="Edit" asp-route-id="@item.Id"><img class="icone-lancamento-unitario" src="imagens/editar-icon.png" alt=""></a></div>

    </div>
}
