@model IEnumerable<ZCaixaV5.Models.Lancamento>
@using ZCaixaV5.Models

@{
    ViewData["Title"] = "Lançamentos";
}

<h1>Lançamentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Categoria  |
            </th>
            <th>
                Data      |
            </th>
            <th>
                Tipo  |
            </th>
            <th>
                Valor       |
            </th>
            <th>
                Conciliado  |
            </th>
            <th>
                Username
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.Nome)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Data)*@
                @Convert.ToDateTime(item.Data).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conciliado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>